#about-main {
  max-height: 100vh;
}

#about-content {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
}

.section-info {
  width: 80vw;
  text-align: justify;
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-indent: 3ch;
  text-align-last: center;
  letter-spacing: -0.02rem;
}

.first-section,
.second-section,
.third-section {
  max-width: 95vw;
  width: 90vw;
  height: 80vh;
  overflow-y: auto;
  display: flex;
}

.first-section::-webkit-scrollbar,
.second-section::-webkit-scrollbar,
.third-section::-webkit-scrollbar {
  display: none;
}

.tech-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 30px;
  padding: 5px 0 10px 0;
}

.tech-logo {
  width: 80px;
  height: 80px;
}

.setas {
  position: absolute;
  font-size: 40px;
  color: #ddd;
  transition: font-size 0.15s, color 0.15s;
  top: 88vh;
  animation: wiggle 0.5s infinite alternate;
}

.setas:hover {
  font-size: 50px;
  color: #bbb;
}

.other-setas {
  font-size: 40px;
  color: #ddd;
}

@keyframes wiggle {
  100% {
    top: 90vh;
  }
}

@media (min-width: 768px) {
  .first-section,
  .second-section,
  .third-section {
    max-width: 90vw;
    width: 80vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .section-info {
    width: 67vw;
  }

  .tech-logo-container {
    gap: 60px;
  }
}