#navbar-custom {
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  scroll-snap-align: center;
}

.navbar-header {
  width: 100vw;
  height: 60px;
  padding-left: clamp(5rem, 10vw, 50rem);
  display: flex;
  align-items: center;
}

.navbar-header a {
  text-decoration: none;
  color: #fff;
  transition: color 0.4s;
}

.navbar-header a:hover {
  color: #aaa;
}

.navbar-header h4 {
  margin: 0;
}

.navbar-links {
  display: flex;
  align-items: center;
  margin: 0;
}

.navbar-link {
  margin: 0px 45px;
  opacity: 0;
  transition: opacity 0.4s;
}

.navbar-header:hover .navbar-link {
  opacity: 1;
}
